.alphabet-item__list {
  display: none;
}

.alphabet-item__letter-list {
  .mixin-style-list-off();
}

.alphabet-item__letter {
  display: inline-block;
  width: 43px;
  height: 40px;
  box-sizing: border-box;
}
