.calendar-body {
  .mixin-font-family-normal();
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}

.calendar-body__week-list,
.calendar-body__day-list {
  .mixin-list-normalize();
  display: grid;
  grid-template-columns: repeat(7, 33px);
}
