.companion-section {
  background-color: #192144;
  background-image: url("../img/background/companion-black-square.png"), url("../img/background/smolov-back-image.png"), url("../img/background/rogovaya-back-image.png");
  background-position: top left, top right, middle left;
  background-repeat: no-repeat, no-repeat, no-repeat;
}
