
.companion-filters__wrapper {
  .mixin-phone-container();

  @media (min-width: @tablet-width) {
    .mixin-table-container();
  }

  @media (min-width: @desktop-width) {
    width: 285px;
    margin: 0;
    padding: 0;
  }
}

.companion-filters__companion-filters {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background-color: @eighth-background-color;

  @media (min-width: @tablet-width) {
    width: 668px;
  }

  @media (min-width: @desktop-width) {
    width: 285px;
  }
}
