.country-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.country-item__wrapper {
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 24px;
  display: flex;
  flex-direction: column;
  margin-top: -9px;
  border-radius: 10px;
  background-color: @primary-background-color;
  order: 1;
}

.country-item__sub-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: baseline;
  order: 2;
}

.country-item__text-wrapper {
  display: flex;
  flex-direction: column;
}

.country-item__title {
  margin: 0;
  order: 2;
}

.country-item__slogan {
  margin: 0;
  order: 3;
}

.country-item__counter {
  margin-left: auto;
}

.country-item__icon {
  margin-top: -13px;
  margin-bottom: 15px;
  order: 1;
}
