.country-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr auto;
  }
}

.country-item__wrapper {
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 24px;
  display: flex;
  flex-direction: column;
  margin-top: -9px;
  border-radius: 10px;
  background-color: @primary-background-color;
  order: 1;

  @media (min-width: @tablet-width) {
    padding-bottom: 0;
    flex-direction: row;
    margin-top: 0;
    z-index: 1;
  }
}

.country-item__sub-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: baseline;
  order: 2;

  @media (min-width: @tablet-width) {
    flex-direction: column;
    order: 1;
  }
}

.country-item__text-wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    margin-bottom: 17px;
  }
}

.country-item__title {
  margin: 0;
  order: 2;
}

.country-item__slogan {
  margin: 0;
  order: 3;
}

.country-item__counter {
  margin-left: auto;

  @media (min-width: @tablet-width) {
    margin-left: 0;
  }
}

.country-item__icon {
  margin-top: -13px;
  margin-bottom: 15px;
  order: 1;

  @media (min-width: @tablet-width) {
    margin-top: 0;
  }
}

.country-item__image {
  @media (min-width: @tablet-width) {
    display: block;
    width: 186px;
    height: 139px;
    order: 2;
    z-index: 0;
  }
}
