.create-profile-section {
  background-color: @six-background-color;
}

.create-profile-section__wrapper {
  .mixin-phone-container();
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 37px;
  padding-bottom: 38px;

  @media (min-width: @tablet-width) {
    .mixin-table-container();
    align-items: center;
    padding-top: 74px;
    padding-bottom: 85px;
  }

  @media (min-width: @desktop-width) {
    .mixin-desktop-container();
    padding-top: 107px;
    padding-bottom: 165px;
  }
}

.create-profile-section__content-wrapper {
  width: 246px;
  display: grid;
  grid-template-areas:
    "create-profile-section__title create-profile-section__profile-icon"
    "create-profile-section__choice-list create-profile-section__choice-list"
    "create-profile-section__show-more create-profile-section__show-more";

  @media (min-width: @tablet-width) {
    width: 688px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  @media (min-width: @desktop-width) {
    width: 1177px;
  }
}


.create-profile-section__title {
  display: inline-block;
  grid-area: create-profile-section__title;
  margin: 0;
  white-space: pre-line;

  @media (min-width: @tablet-width) {
    white-space: nowrap;
    align-self: center;
    margin-bottom: 93px;
  }
}

.create-profile-section__profile-icon {
  margin-left: auto;
  margin-bottom: 34px;
  grid-area: create-profile-section__profile-icon;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.create-profile-section__choice-list {
  .mixin-list-normalize ();
  position: relative;
  margin-bottom: 46px;
  grid-area: create-profile-section__choice-list;

  @media (min-width: @tablet-width) {
    &::before {
      content: "";
      width: 198px;
      height: 285px;
      position: absolute;
      right: 0;
      bottom: -40px;
      border-radius: 20px;
      background-color: @seven-background-color;
    }

    &::after {
      content: "";
      width: 100px;
      height: 100px;
      position: absolute;
      right: 48px;
      bottom: -113px;
      background-image: url("/img/icons/profile-icon.png");
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  @media (min-width: @desktop-width) {
    &::before {
      width: 446px;
      height: 300px;
      right: 106px;
    }

    &::after {
      width: 198px;
      height: 198px;
      right: -5px;
      bottom: 8px;
    }
  }
}

.create-profile-section__show-more {
  grid-area: create-profile-section__show-more;
}
