.entrance-section {
  background-color: #192144;
  background-image: url("../img/background/traveller-illustration.png"), url("../img/background/header-back.png");
  background-position: bottom, top;
  background-repeat: no-repeat, no-repeat;
}

.entrance-section__slogan {
  margin: 0;
}

.entrance-section__help-list {
  .mixin-list-normalize ();
}
