.entrance-section {
  background: linear-gradient(to bottom, #161c35 71%, #192144 29%);
}

.entrance-section__wrapper {
  .mixin-phone-container();
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-bottom: 39px;
  background-image: url("../img/background/traveller-illustration.png"), url("../img/background/planet-back.png");
  background-position: 79px 132px, center -17px;
  background-repeat: no-repeat, no-repeat;
  background-size: 192px 255px, contain;

  @media (min-width: @tablet-width) {
    .mixin-table-container();
    padding-top: 30px;
    padding-bottom: 48px;
  }

  @media (min-width: @desktop-width) {
    .mixin-desktop-container();
  }
}

.entrance-section__sub-wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.entrance-section__slogan {
  margin: 0;
  margin-bottom: 245px;
  white-space: pre-line;
  text-align: center;

  @media (min-width: @tablet-width) {
    margin-bottom: 86px;
  }
}

.entrance-section__list {
  .mixin-list-normalize();
  display: flex;
  margin-bottom: 28px;

  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.entrance-section__help-list {
  .mixin-list-normalize ();
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: repeat(4, 297px);
    align-self: center;
  }
}

.entrance-section__quote {
  margin: 0;
  margin-bottom: 29px;

  @media (min-width: @tablet-width) {
    align-self: flex-start;
  }
}
