.filters-section {
  background-color: @seven-background-color;
}

.filters-section__button-wrapper {
  width: 320px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    width: 768px;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    width: 1440px;
    margin: 0 auto;
  }
}

.filters-section__toggle {
  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: block;
  }
}

.filters-section__region-list {
  .mixin-list-normalize();
  display: none;

  @media (min-width: @tablet-width) {
    display: flex;
  }
}

.filters-section__second-toggle {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }
}

.filters-section__wrapper {
  display: none;
  width: 320px;
  position: absolute;
  left: 0;
  background-color: #e2e5f2;

  @media (min-width: @tablet-width) {
    width: 768px;
  }

  @media (min-width: @desktop-width) {
    width: 1440px;
    position: relative;
  }
}

.filters-section__country-filter {
  width: 270px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 615px;
  }

  @media (min-width: @desktop-width) {
    width: 1320px;
  }
}
