.main-index {
  margin-top: 73px;

  @media (min-width: @tablet-width) {
    margin-top: 128px;
  }
}

.main-index--nojs {
  margin-top: 0;
}

.main-index__section-border-bottom {
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.main-index__section-border-top {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
