.main-index {
  margin-top: 73px;
}

.main-index__section-border-bottom {
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.main-index__section-border-top {
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
