.main-footer {
  background-color: #ffffff;
}

.main-footer__wrapper {
  .mixin-phone-container();
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    .mixin-table-container();
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (min-width: @desktop-width) {
    .mixin-desktop-container();
  }
}

.main-footer__logo {
  margin: 0 auto;
}

.main-footer__social-list {
  .mixin-list-normalize();
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-footer__developer-wrapper {
  display: flex;
  justify-content: space-between;
}

.main-footer__developer {
  .mixin-font-family-normal();
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #444444;
}
