.main-navigation__primary-wrapper {
  display: none;
  width: 320px;
  position: absolute;
  left: 0;
  background-color: @primary-background-color;

  @media (min-width: @tablet-width) {
    width: 768px;
  }

  @media (min-width: @desktop-width) {
    width: 390px;
    left: 500px;
    display: flex;
    flex-direction: row;
    background-color: @second-background-color;
  }
}

.main-navigation__toggle {
  @media (min-width: @desktop-width) {
    display: none;
  }
}

.main-navigation__site-list {
  .mixin-list-normalize();
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;

  @media (min-width: @tablet-width) {
    align-items: flex-start;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
  }
}

.main-navigation__user-list {
  .mixin-list-normalize();
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.main-navigation__authorization {
  @media (min-width: @desktop-width) {
    display: none;
  }
}

.main-navigation__social-list {
  .mixin-list-normalize();
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  @media (min-width: @tablet-width) {
    justify-content: flex-start;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}
