.main-footer {
  background-color: @primary-background-color;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;

  @media (min-width: @desktop-width) {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
  }
}

.main-footer__wrapper {
  .mixin-phone-container();
  padding-top: 37px;
  padding-bottom: 19px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;

  @media (min-width: @tablet-width) {
    .mixin-table-container();
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 46px;
    padding-bottom: 32px;
  }

  @media (min-width: @desktop-width) {
    .mixin-desktop-container();
    padding-top: 47px;
    padding-bottom: 43px;
  }
}

.main-footer__logo {
  margin: 0 auto;
  margin-bottom: 40px;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 166px;
    height: 42px;
    margin: 0;
  }
}

.main-footer__social-list {
  .mixin-list-normalize();
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: @tablet-width) {
    margin: 0;
  }
}

.main-footer__developer-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: @tablet-width) {
    align-items: normal;
  }

  &::before {
    content: "";
    width: 270px;
    height: 1px;
    display: block;
    position: absolute;
    top: -13px;
    left: 0;
    background-color: @twenty-background-color;

    @media (min-width: @tablet-width) {
      display: none;
    }
  }
}

.main-footer__developer {
  .mixin-font-family-normal();
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #444444;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.main-footer__developer-logo {
  @media (min-width: @tablet-width) {
    margin-left: 23px;
  }
}
