.main-header {
  background-color: @second-background-color;
}

.main-header__navigation {
  .mixin-phone-container();
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  @media (min-width: @tablet-width) {
    .mixin-table-container();
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    .mixin-desktop-container();
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
