.map-section {
  background-color: @fourth-background-color;
}

.map-section__wrapper {
  .mixin-phone-container();
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: @tablet-width) {
    .mixin-table-container();
  }

  @media (min-width: @desktop-width) {
    .mixin-desktop-container();
    flex-direction: row;
    justify-content: center;
  }
}

.map-section__adress-wrapper {
  display: flex;
  align-items: center;
}

.map-section__description {
  white-space: pre-line;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    white-space: normal;
  }
}
