.rate-choice-list {
  .mixin-font-family-normal();
  font-weight: 300;
  font-size: 16px;
  line-height: 16px;
  color: @fourth-text-color;
}

.rate-choice-list__item {
  display: flex;
  flex-direction: row;
}

.rate-choice-list__item-wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    order: 2;
    flex-direction: row;
  }
}

.rate-choice-list__order {
  @media (min-width: @tablet-width) {
    order: 1;
  }
}
