.rate-choice-list {
  .mixin-font-family-normal();
  font-weight: 300;
  font-size: 16px;
  line-height: 16px;
  color: @fourth-text-color;

  @media (min-width: @tablet-width) {
    font-size: 28px;
    line-height: 28px;
  }
}

.rate-choice-list__item {
  position: relative;
  min-height: 44px;
  margin-bottom: 21px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &:last-child {
    margin-bottom: 0;
  }

  &:first-child::before {
    content: "";
    display: block;
    position: absolute;
    top: -6px;
    width: 200px;
    height: 1px;
    background-color: #e1e3e9;

    @media (min-width: @tablet-width) {
      width: 563px;
      top: 0;
      left: 92px;
    }
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -17px;
    width: 200px;
    height: 1px;
    background-color: #e1e3e9;

    @media (min-width: @tablet-width) {
      width: 563px;
      bottom: 0;
      left: 92px;
    }
  }

  @media (min-width: @tablet-width) {
    justify-content: normal;
    margin-bottom: 0;
  }
}

.rate-choice-list__item-wrapper {
  display: flex;
  flex-direction: column;
  align-self: flex-end;

  @media (min-width: @tablet-width) {
    width: 563px;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    order: 2;
  }

  @media (min-width: @desktop-width) {
    width: 814px;
  }
}

.rate-choice-list__order {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: @tablet-width) {
    width: 68px;
    height: 68px;
    margin-right: 22px;
    order: 1;
  }
}
