.second-user-list__link {
  display: flex;
  align-items: center;

  @media (min-width: @tablet-width) {
    font-size: 28px;
    line-height: 28px;
  }
}

.second-user-list__icon {
  width: 45px;
  height: 45px;
  margin-right: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: @nineteen-background-color;

  @media (min-width: @tablet-width) {
    width: 68px;
    height: 68px;
    margin-right: 22px;
  }
}

.second-user-list__second-phone-icon {
  @media (min-width: @tablet-width) {
    width: 24px;
    height: 23px;
  }
}

.second-user-list__second-mail-icon {
  @media (min-width: @tablet-width) {
    width: 24px;
    height: 23px;
  }
}
