.site-list__link {
  .mixin-font-family-normal();
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  color: @nine-text-color;
  text-decoration: none;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-weight: 500;
    font-size: 60px;
    line-height: 71px;
  }

  @media (min-width: @desktop-width) {
    font-size: 20px;
    line-height: 20px;
    color: @primary-text-color;
  }
}

.site-list__item {
  @media (min-width: @desktop-width) {
    margin-right: 34px;
  }
}

.site-list__item:first-child {
  @media (min-width: @desktop-width) {
    &::before {
      content: "";
      position: absolute;
      left: -105px;
      top: 8px;
      width: 60px;
      height: 2px;
      background-color: @primary-background-color;
    }
  }
}

.site-list__item:last-child {
  @media (min-width: @desktop-width) {
    margin-right: 0;
  }
}
