.table-desktop-buttons__phone {
  display: none;

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    border-radius: 50%;
    background-color: @nine-background-color;
  }
}

.table-desktop-buttons__mail {
  display: none;

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    border-radius: 50%;
    background-color: @thirteen-background-color;
  }
}

.table-desktop-buttons__authorization {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    padding-top: 14px;
    padding-bottom: 12px;
    padding-left: 29px;
    padding-right: 29px;
    border-radius: 25px;
  }

  @media (min-width: @desktop-width) {
    display: block;
  }
}
