.user-steps-list {
  .mixin-font-family-normal();
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  white-space: pre-line;
}

.user-steps-list__item {
  box-sizing: border-box;
  width: 270px;
  padding: 24px;
  display: flex;
  justify-content: space-between;
}

.user-steps-list__item-color {
  background-color: #ff8d30;
}

.user-steps-list__item-color:nth-child(2) {
  background-color: #ffa530;
}

.user-steps-list__item-color:nth-child(3) {
  background-color: #ffdb30;
}

.user-steps-list__item-color:nth-child(4) {
  background-color: #ffd74b;
}
