// text-colors
@primary-text-color:#ffffff;
@second-text-color:#161c35;
@third-text-color: #ff8d30;
@fourth-text-color: #444444;
@sub-fourth-text-color: rgba(68, 68, 68, 0.3);
@fifth-text-color: #000000;
@six-text-color: #1d2e5b;
@sub-six-text-color:  rgba(29, 46, 91, 0.3);
@seven-text-color: #132576;
@eighth-text-color: #ffd74b;
@nine-text-color: #192144;
@ten-text-color: #000000;
@sub-ten-text-color: rgba(0,0,0, 0.6);
// background-colors
@disable-background-color: #444444;
@primary-background-color: #ffffff;
@second-background-color: #192144;
@third-background-color: #edeff6;
@fourth-background-color: #ffd74b;
@fifth-background-color: #1d2e5b;
@six-background-color: #e6e8f1;
@seven-background-color: #e2e5f2;
@eighth-background-color: #f3c72b;
@nine-background-color: #ff8d30;
@ten-background-color: #cbced9;
@sub-ten-background-color: rgba(203, 206, 217, 0.3);
@eleven-background-color: #dfe3f0;
@twelve-background-color: #d4d9eb;
@thirteen-background-color: #ffbd30;
@fourteen-background-color: #f26926;
@fifteen-background-color: #161c35;
@sixteen-background-color: #12162b;
@seventeen-background-color: #141b3b;
@eighteen-background-color: #ffa530;
@nineteen-background-color: #121936;
@twenty-background-color: #f2f2f2;
@twenty-one-background-color: #cccccc;
